@{
    ViewData["Title"] = "Home Page";
}

<h2>Dashboard</h2>

<div class="col-md-2">
    <a href="#">Contacts</a>

</div>

<div class="col-md-5">

Open Opportunities

</div>


<div class="col-md-5">

 To Follow Up

</div>

<div style="text-align:center">
    <a href#>Latest Activity</a>
</div>

