
@{
    ViewData["Title"] = "About Me";
    Layout = "~/Views/Shared/BaseWhiteLayout.cshtml";
}

   
            
            <p>
                I was introduced to programming through a course I took in high school. 
                I learned about HTML and JAVA. Coding has stuck with me ever since. </p>

                <p>
                At the time, I didn't realize I could make a career out it. I didn't know of any programmers.
                I figured it was just something that was good to know how to do... like cooking!
                So throughout the next several years, I built free websites for family and friends. Using Notepad. 
                 </p>
                <p>
                
                In 2014 I went into preterm labor with my youngest child and was bedridden for 5 months.
                I felt like it was the perfect opportunity to earn my Bachelors Degree. So I did!
                In 2017 I achieved a Bachelor of Applied Science Degree in IT & Administrative Management
                from Central Washington University. I specialized in Cyber Security. 
                
                </p>
                <p>
                In August of 2018, 
                after earning my MTA 98-361 certificate, I was accepted into an internship with a small 
                software development company. That internship turned into a full time offer and now I get 
                to solve problems and build solutions for a living.
                </p>
     

@*<div class="aboutme-images">
    <img id="image1" src="~/images/aboutme1.jpg" />
    <img id="image2" style="float:left" src="~/images/aboutme2.jpg" />
</div>*@
