
@{
    ViewData["Title"] = "Contact Me";
    Layout = "~/Views/Shared/BaseWhiteLayout.cshtml";
}
    <div class="row" style="margin-top:15%; overflow:hidden">
        <div class="col-md-6">
            <div style="margin:0; position:relative; top:50%; transform: translate(0, -50%);">
                    <p id="subject-title">Email</p>
                    <a href="mailto:menzelle.jacobs@gmail.com">
                        <p style="position:relative; top:-15px; text-decoration:none">menzelle.jacobs@gmail.com </p>
                    </a>
           </div>
       </div>
    </div>

<div class="row" style="overflow:hidden">
    <div class="col-md-6">
        <div style="margin:0; position:relative; top:50%; transform: translate(0, -50%)">
            <p id="subject-title">
                Phone
            </p>
            <a href="tel:253-254-6188">
                <p style="position:relative; top:-15px">
                    (253) 254-6188
                </p>
            </a>
        </div>
    </div>
</div>
    

    @*<table >
        <tr>
            <td >
                <h2 id="subject-title" style="margin:0; position:absolute; top:50%; transform: translate(0, 50%)">
                    Email
                </h2>
                <p style="margin:0; position:absolute; top:50%;transform: translate(0, 30%)" >
                    menzelle.jacobs@gmail.com
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <h2 id="subject-title" style="margin:0; position:absolute; top:50%; transform: translate(0, 50%)">
                    Phone
                </h2>
                <p style="margin:0; position:absolute; top:50%; transform: translate(0, 30%)">
                    (253) 254-6188
                </p>
            </td>
        </tr>
    </table>*@
