
@{
    ViewData["Title"] = "Degrees + Certs";
    Layout = "~/Views/Shared/BaseWhiteLayout.cshtml";
}

    <table>
        <tr>
            <td>
              <h4 id="subject-title">Mircrosoft</h4>
                <p>
                    2018 - Software Development Fundamentals Certificate
                    MTA 98-361 
                </p>
            </td>
        </tr>

        <tr>
            <td>
                 <h4 id="subject-title">Central washington university</h4>
                <p>
                    2017 - IT & Administrative Management BAAS Degree
                    Specialization in Cyber Security
                </p>
            </td>
        </tr>

        <tr>
            <td>
                <h4 id="subject-title">university of california</h4>
                <p>
                    2013 - Meeting and Event Planning Certificate
                </p>
            </td>
        </tr>

        <tr>
            <td>
             <h4 id="subject-title">West Los angeles college</h4>
                <p>
                    2012 - Business Administration Associate Degree
                </p>
            </td>
        </tr>
    </table>
