@{
    ViewData["Title"] = "Index";
}


    <style>
    
    </style>


<div style="position:absolute">
    <div id="main-logo" onmouseover="openNav()" class="panel-heading">

        <div id="main-logo-wrapper"  onmouseenter="hoverTitle()" onmouseleave="hoverTitle2()">
            <div style="clear:both; width:100%; float:left; clear:both;" >
                <h1 style="font-size:4vw;font-weight: 300; line-height: 1; text-transform: uppercase; ">
                    Menzelle <b>Jacobs</b>
                </h1>
            </div>
            <div style="clear:both; width:100%;  float:left; clear:both">
                <h3 style="color:white; font-weight: 300; line-height: 1; text-transform: uppercase; letter-spacing:7px">
                    SOFTWARE DEVELOPER
                </h3>
            </div>
        </div>
    </div>
    <div id="contactMini" class="card">

        <div class="card-body">
            <a href="mailto:menzelle.jacobs@gmail.com">
                <p style="position:relative; top:-15px; text-decoration:none;">menzelle.jacobs@gmail.com </p>
            </a>
            <a href="tel:253-254-6188">
                <p style="position:relative; top:-15px;">
                    (253) 254-6188
                </p>
            </a>
        </div>
    </div>
</div>
    <img src="~/images/Main pic.jpg" style="width:100vw; z-index:-1; position:absolute" />




