
@{
    ViewData["Title"] = "Qualifications";
    Layout = "~/Views/Shared/BaseWhiteLayout.cshtml";
}


<table>
    <tr>
        <td>
            <h4 id="subject-title">over 12 years' coding experience</h4>
            <p>
                I've been building websites since I was a teen.
            </p>
        </td>
    </tr>

    <tr>
        <td>
            <h4 id="subject-title">formal education</h4>
            <p>
                Formal study in programming, ethics, leadership, management and cyber security at Central Washington University
            </p>
        </td>
    </tr>

    <tr>
        <td>
            <h4 id="subject-title">worked with the latest technologies</h4>
            <p>
                Recent work with MS tech frameworks and platforms including Azure.
            </p>
        </td>
    </tr>

    <tr>
        <td>
            <h4 id="subject-title">full stack developer</h4>
            <p>
Proven competence in full stack development.            </p>
        </td>
    </tr>
</table>

