@{
    ViewData["Title"] = "My Resume";
    Layout = "~/Views/Shared/BaseWhiteLayout.cshtml";
}
<style>
    a:link, a:visited {
        text-decoration: none;
        color: gray;
    }

    a:hover {
        color: #DDAF8F;
    }

    .sub-title{
        color:gray;
        font-size:1rem;
    }

    #subject-title:hover {
    color: gray;
}
</style>

<script>
    
    $(".card-header").parent('.panel').hover(
        function () {
            $(this).children('.collapse').collapse('show');
        }, function () {
            $(this).children('.collapse').collapse('hide');
        }
    );
</script>


<div class="accordion" id="accordion" @*style="margin-top:10%"*@>
    <div class="panel panel-default">
        <div class="card-header panel-heading" id="headingOne">
            <a id="subject-title" data-toggle="collapse" href="#projects" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" onclick="reduceMargin()">
                Projects
                <p class="sub-title">what i've been up to.</p>
            </a>
        </div>
        <div id="projects" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <table>
                    <tr>
                        <td>
                            <button id="project-title-buttons" type="button" onclick="getContent('snapmeinfo')" aria-label="Click For More Info About SnapMe" data-balloon-pos="right">SnapMe</button>
                            <p>
                                An internal 3 part solution which clocked employees in with a selfie and generated reports for management.
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <button id="project-title-buttons" type="button" onclick="getContent('wpudainfo')" aria-label="Click For More Info About WPDUA" data-balloon-pos="right">WPUDA</button>
                            <p>
                                A mobile application which allows authenticated users to access member
                                directory.
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <button id="project-title-buttons" style="text-align:left" type="button" onclick="getContent('hninfo')" aria-label="Click For More About This Project" data-balloon-pos="up">Housing Navigator Management System</button>
                            <p>
                                Introduced a SQL database to store landlord contact list, housing opportunities and manage relationships.     
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="card-header panel-heading" id="headingOne">
            <a id="subject-title" data-toggle="collapse" href="#qualifications" aria-expanded="false">
                Qualifications
                <p class="sub-title">Why Me?</p>
            </a>

        </div>
        <div id="qualifications" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <table>
                    <tr>
                        <td>
                            <p id="resume-title">over 12 years' coding experience</p>
                            <p>
                                I've been building websites since I was a teen.
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p id="resume-title">formal education</p>
                            <p>
                                Formal study in programming, ethics, leadership, management and cyber security at Central Washington University
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p id="resume-title">worked with the latest technologies</p>
                            <p>
                                Recent work with MS tech frameworks and platforms including Azure.
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p id="resume-title">full stack developer</p>
                            <p>
                                Proven competence in full stack development.
                            </p>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="card-header panel-heading" id="headingOne">
            <a id="subject-title" data-toggle="collapse" href="#technicalskills" aria-expanded="false" onclick="reduceMargin()">
                Technical Skills
                <p class="sub-title">What I've Worked With.</p>
            </a>

        </div>
        <div id="technicalskills" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <table>
                    <tr>
                        <td>
                            <p id="resume-title">languages</p>
                            <p>
                                VB.NET      C#,      .Net       VBA      Python      SQL

                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p id="resume-title">PLATFORMS</p>
                            <p>
                                Microsoft Azure     Windows      Linux/Unix
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p id="resume-title">Frameworks/mappers </p>
                            <p>.NetCore      EF Core</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p id="resume-title">collaboration tools </p>
                            <p>TFS      VSTS      Azure Dev Ops      GitHub      </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p id="resume-title">Developer/Debugging Tools </p>
                            <p>PowerShell      Postman      Azure CLI      Fiddler      SSMS</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="card-header panel-heading" id="headingOne">
            <a id="subject-title" data-toggle="collapse" href="#degreesandcerts" aria-expanded="false" onclick="reduceMargin()">
                Degrees And Certs
                <p class="sub-title">Proofs of my commitment.</p>
            </a>
        </div>
        <div id="degreesandcerts" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <table>
                    <tr>
                        <td>
                            <p id="resume-title">Microsoft</p>
                            <p>
                                2018 - Software Development Fundamentals Certificate
                                MTA 98-361 
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p id="resume-title">Central washington university</p>
                            <p>
                                2017 - IT & Administrative Management BAS Degree
                                Specialization in Cyber Security
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p id="resume-title">university of california</p>
                            <p>
                                2013 - Meeting and Event Planning Certificate
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p id="resume-title">West Los angeles college</p>
                            <p>
                                2012 - Business Administration Associate Degree
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<p id="snapmeinfo" style="display:none" class="SnapMe">
    As a junior developer I’ve worked mainly on an internal
    project named Snap Me.

    It was an application which allowed users to clock in
    with a selfie on their phone. This image and other clock in data was collected and uploaded to a data store to
    be used for reporting on a web application. Within the solution, I was assigned to the API and the web app.

    I implemented OpenID Connect to restrict access to the application. Migrated data on premises and to the cloud with
    the help of Azure services such as Data Factory, Data Warehouse and Functions. I created many of the repository methods
    which ran CRUD operations against the database. I also fancied up the front end with the help of Bootstrap and DataTables.Net. 

    Most recently, in cost reduction efforts, I created a scheduled
    hosted service (background task) within the application which replaced Azure
    Elastic Web Job service with a no cost alternative.
</p>
<p class="Washington Public Utilities Districts Association" id="wpudainfo" style="display:none">
    A Mobile Application that allows authenticated users to access
    member directory. The application utilized a universal encrypted key to
    authenticate and authorize. The directory was published to a C-Name and hidden
    from search engines (Robots.txt).
    Technologies Used:
    Seattle Cloud platform (universal mobile application) 
    JavaScript encryption
    HTML5 / C#
</p>
<p class="Housing Navigator Managmeent System" id="hninfo" style="display:none">
    In 2015 I was hired as a housing navigator (a liason
    between landlords in the community and social workers with clients experiencing homelessness). The position was
    new so there were no existing sytems or processes. In order to better manage my relationships with landlords and
    the the case workers seeking housing for their clients,
    I developed a system to document the landlords that I interacted with. I kept records of who I contacted
    along with details around the communication such as date and follow up information. I created a SQL database
    with 5 data sets documenting contact information, property information,
    information on available housing opportunities and and address book. From this database I ran weekly reports of available
    housing opportunities which I would email to case workers. I also created an electronic referral form in Word which
    autopopulated the case workers information when they opened the document from their work laptop.
</p>

<script>
    function reduceMargin() {
        document.getElementById('accordion').style.margin = 0;
    }

    function setTitle(projectInfo) {
        var content = document.getElementById(projectInfo).className;

        document.getElementById("whatever").innerText = content;
    }

</script>
