
@{
    ViewData["Title"] = "Technical Skills";
    Layout = "~/Views/Shared/BaseWhiteLayout.cshtml";
}

    <table>
        <tr>
            <td>
                <h4 id="subject-title">languages</h4>
                <p>
                    VB.NET      C#,      .Net       VBA      Python      SQL

                </p>
            </td>
        </tr>
        <tr>
            <td>
                <h4 id="subject-title">PLATFORMS</h4>
                <p>
                    Microsoft Azure     Windows      Linux/Unix
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <h4 id="subject-title">Frameworks/mappers </h4>
                <p>.NetCore      EF Core</p>
            </td>
        </tr>
        <tr>
            <td>
                <h4 id="subject-title">collaboration tools </h4>
                <p>TFS      VSTS      Azure Dev Ops      GitHub      </p>
            </td>
        </tr>
        <tr>
            <td>
                <h4 id="subject-title">Developer/Debugging Tools </h4>
                <p>PowerShell      Postman      Azure CLI      Fiddler      SSMS</p>
            </td>
        </tr>
    </table>
